/* ---------- Generals ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

:root{
--white: #ffffff;
--gray: #f2f2f2;
--title: #1d1d1d;
--text: #3d3d3d;
}


/* ---------- App ---------- */
.app{
  display: flex;
}

.toggle{
  background-color: var(--title);
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.toggle:hover{
 opacity: 0.9;
}


/* ---------- Section ---------- */
.section{
  background-color: var(--gray);
  min-height: 100vh;
  width: 100%;
  padding: 50px;  
}

.content{
  height: 100%;
}


/* ---------- Sidebar ---------- */
#sidebar {
  background-color: var(--white);
  min-width: 260px;
  max-width: 260px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
  padding: 30px;
}

#sidebar.active {
  margin-left: -260px; 
}
  
#sidebar.active .toggle {
  margin-right: -40px; 
}

.sidebar-title{
  font-size: 1.75rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--title);
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  border-bottom: 3px solid var(--title);
}

.sidebar-list{

  li{
    position: relative;
		margin: 10px 0;
    height: 50px;
  }

  a{
    display: flex;
    color: var(--text);
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
    align-items: center;
    transition: all 0.4s ease;
    padding: 20px;
    border-radius: 4px;
    font-weight: 600;
    
  }

  a:hover{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }

}

/* ---------- Cards ---------- */
.cards{
  display: grid;
  grid-row-gap: var(10px);
  max-width: 1400px;
  margin: 0 auto;
}

.card{
  max-width: auto;
  background-color: var(--white);
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  color: var(--text);
  margin: 10px;

  .card-title{
    color: var(--title);
    margin-bottom: 10px;
  }

  .card-sub{
    margin-bottom: 20px;
  }

  .card-buttons{
    margin-top: 15px;
  }

  .card-button{
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-position: center;
    transition: background 0.8s;
    margin-right: 10px;
    text-transform: uppercase;
  }

  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: var(--gray) radial-gradient(circle, transparent 1%, var(--gray) 1%) center/15000%;
  }
  .ripple:active {
    background-color: var(--white);
    background-size: 100%;
    transition: background 0s;
  }
}

/* ---------- Loader ---------- */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--title);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* ---------- Media Queries ---------- */
@media only screen and (max-width: 1200px) {
  #sidebar{
    margin-left: -260px; 
  }

  #sidebar.active {
    margin-left: 0; 
  }

  #sidebar .toggle {
    margin-right: -40px;
    top: 60px; 
  }
}

@media only screen and (max-width: 768px) {
  #sidebar .toggle {
    margin-right: -40px;
    top: 30px; 
  }
}

@media screen and (min-width: 992px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(10px);
  }
}